h1{
    color: rgb(20, 90, 81);
    padding-bottom: 10px;
    margin: 10px;
}
*{
    margin: 0;

}
h3{
    padding: 10px;
}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong{
    color: rgb(20, 90, 81);
}